/*Fenord Font*/

@font-face {
  font-family: 'FenordItalic';
  src: local("fenord-italic"),
       url(fenord-italic.ttf);
  font-weight: normal;
  font-style: normal;
}

/*Sidebar Navigation*/
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  position: fixed;
  height: 100%;
  overflow: auto;
  overflow-y: hidden;
}

/*Sidebar links*/
.sidebar a {
  display: block;
  color: rgb(32, 27, 118);
  padding: 50px 50px 50px;
  text-decoration: none;
  border-radius: 50px;
  background-color: silver;
  text-align: end;
  margin: 90px 60px 0px -100px;
}

/*Active/current section*/
.sidebar a.active {
  background-color: gray;
  color: white;
  width: 200px;
  text-align: end;
  padding: 50px 30px;
  margin: 90px 0px 0px -65px;
  width: 200px;
}

/*When mouse over*/
.sidebar a:hover:not(.active) {
  background-color: gray;
  color: white;
}

body {
    background-color: rgb(32, 27, 118);
    font-family: "FenordItalic";
    max-width: 100%;
    overflow-x: hidden;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 800px;
}

div#Projects{
  height: max-content;
}

div#About{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: flex-start;
  justify-content: space-evenly;
  height: max-content;
  width: 1100px;
}

h1 {
  font-size: 60px;
  color: rgb(32, 27, 118);
  padding: 15px 0px 5px 25px;
  margin: 0px;
}

h1#about{
  color: silver;
  align-self: start;
  padding: 40px 50px;
}

div#bean {
  display: flex;
  flex-direction: column;
  width: 650px;
  height: 220px;
  background-color: silver;
  text-align: center;
  border-radius: 250px;
  margin: 30px 100px 20px 6%;
}

div#projectframe{
  display: flex;
  width: 1350px;
  height: 600px;
  flex-direction: column;
  align-items: center;
  background-color: silver;
  border-radius: 75px;
  margin: 20px 35px;
}

div#frame {
  display: flex;
  width: 530px;
  height: 370px;
  background-color: silver;
  justify-content: center;
  margin: 15px 0px 70px 135px;
}

div#smallFrame {
  display: flex;
  width: 500px;
  height: 350px;
  background-color: silver;
  justify-content: center;
  border-radius: 100px;
  padding: 50px;
}

img#Romel {
  padding: 20px 20px;
} 

/*Accordion settings
  Followed https://www.freecodecamp.org/news/build-an-accordion-menu-using-html-css-and-javascript/
  To make this
*/
.accordion {
  width: 1100px;
  margin: 0px 25px;
  background-color: silver;
  border-radius: 15px;
  padding: 20px 20px;
  text-align: center;
}

.accordion .container {
  position: relative;
  margin: 10px;
  border-radius: 15px;
  border: 0.2rem solid;
}

.accordion .label {
  position: relative;
  padding: 30px 60px;
  font-size: 25px;
  color: silver;
  cursor: pointer;
  text-align: start;
  border-radius: 10px;
  background-color: rgb(32, 27, 118);
}
/*Positions the plus sign 5px from the right*/
.accordion .label::before {
  content: '+';
  color: silver;
  position: absolute;
  top: 50%;
  right: 40px;
  font-size: 50px;
  transform: translateY(-50%);
}

.accordion .content {
  position: relative;
  height: 0;
  font-size: 20px;
  text-align: start;
  width: auto;
  overflow: hidden;
  transition: 0.1s;
  color: rgb(32, 27, 118);
  padding: 0px 60px;
}

.accordion .container.active .content {
  height: 100%;
  width: auto;
  background-color: silver;
  padding: 30px 60px;
  border-radius: 0px 0px 15px 15px;
  text-align: start;
  margin: 0px;
}

.accordion .container.active .label::before {
  content: '-';
  font-size: 40px;
}

div#EPL {
  display: flex;
  flex-direction: row;
}

/*Four-pointed star*/
.star{
  position: relative;
  margin: 50px;
  width: 1em;
  font-size: 2em;
}

.star:before{
  content: "";
  position: absolute;
  background: silver;
  width: 1em;
  height: 1.15em;
  transform: rotate(-45deg) skewX(22.5deg) skewY(22.5deg);
}

.star:after{
  content: "";
  position: absolute;
  background: silver;
  height: 1.15em;
  width: 1em;
  transform: rotate(45deg) skewX(22.5deg) skewY(22.5deg);
}

/*Row-columns*/
.column {
  color: silver;
  float: right;
  width: 50%;
  text-align: center;
  /* justify-content: center; */
  padding: 30px;
}

.row{
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: stretch;
  align-items: center;
}

h2#favGame {
  
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/*Footer*/
footer {
  align-content: end;
  justify-content: flex-end;
  background-color: silver;
}
#footertext {
  font-size: 10px;
  text-align: left;
  padding: 15px;
  color: rgb(32, 27, 118);
}
