/*Fenord Font*/

@font-face {
  font-family: 'FenordItalic';
  src: local("fenord-italic"),
       url(fenord-italic.ttf);
  font-weight: normal;
  font-style: normal;
}

body {
    background-color: rgb(32, 27, 118);
    font-family: "FenordItalic";
    max-width: 100%;
    overflow-x: hidden;
}
h1 {
  font-size: 60px;
  color: rgb(32, 27, 118);
  padding: 15px 0px 5px 25px;
  margin: 0px;
}
div#bean {
  display: flex;
  flex-direction: column;
  width: 650px;
  height: 220px;
  background-color: silver;
  text-align: center;
  border-radius: 250px;
  margin: 30px 100px 20px 6%;
}

div#projectframe{
  display: flex;
  width: 1350px;
  height: 600px;
  flex-direction: column;
  align-items: center;
  background-color: silver;
  border-radius: 75px;
  margin: 20px 35px;
}

div#frame {
  display: flex;
  width: 530px;
  height: 370px;
  background-color: silver;
  justify-content: center;
  margin: 15px 0px 70px 145px;
}
img#Romel {
  padding: 20px 20px;
} 

/*Accordion settings
  Followed https://www.freecodecamp.org/news/build-an-accordion-menu-using-html-css-and-javascript/
  To make this
*/
.accordion {
  width: 1300px;
  margin: 0px 25px;
  background-color: silver;
  border-radius: 15px;
  padding: 20px 20px;
  text-align: center;
}

.accordion .container {
  position: relative;
  margin: 10px;
  border-radius: 15px;
  border: 0.2rem solid;
}

.accordion .label {
  position: relative;
  padding: 30px 60px;
  font-size: 25px;
  color: silver;
  cursor: pointer;
  text-align: start;
  border-radius: 10px;
  background-color: rgb(32, 27, 118);
}
/*Positions the plus sign 5px from the right*/
.accordion .label::before {
  content: '+';
  color: silver;
  position: absolute;
  top: 50%;
  right: 40px;
  font-size: 50px;
  transform: translateY(-50%);
}

.accordion .content {
  position: relative;
  height: 0;
  font-size: 20px;
  text-align: start;
  width: auto;
  overflow: hidden;
  transition: 0.1s;
  color: rgb(32, 27, 118);
  padding: 0px 60px;
}

.accordion .container.active .content {
  height: 100%;
  width: auto;
  background-color: silver;
  padding: 30px 60px;
  border-radius: 0px 0px 15px 15px;
  text-align: start;
}

.accordion .container.active .label::before {
  content: '-';
  font-size: 40px;
}

div#EPL {
  display: flex;
  flex-direction: row;
}

/*Footer*/
footer {
  align-content: end;
  justify-content: flex-end;
  background-color: silver;
}
#footertext {
  font-size: 10px;
  text-align: left;
  padding: 15px;
  color: rgb(32, 27, 118);
}
