/*Fenord Font*/

@font-face {
  font-family: 'FenordItalic';
  src: local("fenord-italic"),
       url(fenord-italic.ttf);
  font-weight: normal;
  font-style: normal;

}

body {
    background-color: rgb(32, 27, 118);
    font-family: "FenordItalic";
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    justify-content: center;
}
  h1 {
    font-size: 72px;
    color: rgb(255, 255, 255);
}
p{
font-size: 28px;
color: rgb(255, 255, 255);
}
  button {
      color: white;
      font-size: 125%;
      border-radius: 4px;
      border: none;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
      background: rgb(143, 239, 165);
      padding: 10px;
      outline: none;
      cursor: pointer;
}
  button:hover {
    background: rgb(66, 184, 221);
    padding: 12px;
}
footer {
  display: flex;
  text-align: left;
  justify-content: flex-start;
  padding: 15px;
  background-color: silver;
  color: rgb(32, 27, 118);
}
